<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/chefcloud.png" type="image/png">
    <title>ChefCloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/search.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="home-container">
        <div class="side-panel">
            <div class="first-panel">
                <div class="title-display logo-title">
                    <a href="/home" class="title">ChefCloud</a>
                </div>
                <div class="icon-display">
                    <a href="/home"><img src="assets/chefcloud.png" alt="ChefCloud Logo" class="logo"></a>
                </div>
                <div class="large-display">
                    <a href="/home" class="anchor-icon"><i class='bx bxs-home-alt-2 icon'></i></a>
                    <p>Home</p>
                </div>
                <div class="icon-display">
                    <a href="/home" class="anchor-icon"><i class='bx bxs-home-alt-2 icon'></i></a>
                </div>
                <div class="large-display">
                    <a href="/explore" class="anchor-icon"><i class='bx bx-compass icon' ></i></a>
                    <p>Explore</p>
                </div>
                <div class="icon-display">
                    <a href="/explore" class="anchor-icon"><i class='bx bx-compass icon' ></i></a>
                </div>
                <div class="large-display">
                    <a href="/search" class="anchor-icon"><i class='bx bx-search icon'></i></a>
                    <p>Search</p>
                </div>
                <div class="icon-display">
                    <a href="/search" class="anchor-icon"><i class='bx bx-search icon'></i></a>
                </div>
                <div class="large-display">
                    <a href="/post" class="anchor-icon"><i class='bx bxs-plus-square icon'></i></a>
                    <p>Post</p>
                </div>
                <div class="icon-display">
                    <a href="/post" class="anchor-icon"><i class='bx bxs-plus-square icon'></i></a>
                </div>
                <!-- <div class="large-display">
                    <a href="/profile"><img src="assets/square-png.webp" alt="profile" class="profile-image"></a>
                    <p>Profile</p>
                </div>
                <div class="icon-display">
                    <a href="/profile"><img src="assets/square-png.webp" alt="profile" class="profile-image"></a>
                </div> -->
            </div>
            <div class="second-panel">
                <!-- <div class="large-display">
                    <p>Logout</p>
                </div>
                <div class="icon-display">
                    <i class='bx bx-log-out icon'></i>
                </div> -->
                <form action="/logout" method="get">
                    <div class="large-display">
                        <button type="submit" class="btn btn-light">Logout</button>
                    </div>
                    <div class="icon-display">
                        <button type="submit" class="btn btn-light"><i class='bx bx-log-out icon'></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="sm-container">
            <div class="top-con">
                <div class="title-display logo-title">
                    <a href="/home" class="title">ChefCloud</a>
                </div>
                <div class="icon-display">
                    <a href="/post" class="anchor-icon"><i class='bx bxs-plus-square icon'></i></a>
                </div>
            </div>
            <div class="bottom-con">
                <div class="icon-display">
                    <a href="/home" class="anchor-icon"><i class='bx bxs-home-alt-2 icon'></i></a>
                </div>
                <div class="icon-display">
                    <a href="/search" class="anchor-icon"><i class='bx bx-search icon'></i></a>
                </div>
                <div class="icon-display">
                    <a href="/explore" class="anchor-icon"><i class='bx bx-compass icon' ></i></a>
                </div>
                <!-- <div class="icon-display">
                    <a href="/profile"><img src="assets/square-png.webp" alt="profile" class="profile-image"></a>
                </div> -->
            </div>
        </div>
        <div class="main-content">
            <!-- <form id="searchForm">
                <div class="form-group">
                    <i class='bx bx-search icon'></i>
                    <input type="search" id="searchInput" class="form-control" placeholder="Press Enter to Search">
                </div>
            </form> -->
            <div class = "meal-wrapper">
                <div class = "meal-search">
          
                  <div class = "meal-search-box">
                    <input type = "text" class = "search-control" placeholder="Enter a value" id = "search-input">
                    <button type = "submit" class = "search-btn recipe-search-btn" id = "search-btn">
                        <select name="type" id="select">
                            <option value="area">Area</option>
                            <option value="ingredient" selected>Ingredient</option>
                            <option value="category">Category</option>
                            <option value="name">name</option>
                            <option value="firstLetter">firstLetter</option>
                        </select>
                      <!-- <i class = "bx bx-search"></i> -->
                    </button>
                  </div>
                </div>
          
                <div class = "meal-result">
                  <h2 class = "title">Your Search Results:</h2>
                  <div id= "meal">
                    <!-- meal item -->
                    <!-- <div class = "meal-item">
                      <div class = "meal-img">
                        <img src = "food.jpg" alt = "food">
                      </div>
                      <div class = "meal-name">
                        <h3>Potato Chips</h3>
                        <a href = "#" class = "recipe-btn">Get Recipe</a>
                      </div>
                    </div> -->
                    <!-- end of meal item -->
                  </div>
                </div>
          
          
                <div class = "meal-details">
                  <!-- recipe close btn -->
                  <button type = "button" class = "btn recipe-close-btn" id = "recipe-close-btn">
                    <i class = "bx bx-x"></i>
                  </button>
          
                  <!-- meal content -->
                  <div class = "meal-details-content">
                    <!-- <h2 class = "recipe-title">Meals Name Here</h2>
                    <p class = "recipe-category">Category Name</p>
                    <div class = "recipe-instruct">
                      <h3>Instructions:</h3>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis quis accusantium natus! Porro, reiciendis maiores molestiae distinctio veniam ratione ex provident ipsa, soluta suscipit quam eos velit autem iste!</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquam voluptatibus ad obcaecati magnam, esse numquam nisi ut adipisci in?</p>
                    </div>
                    <div class = "recipe-meal-img">
                      <img src = "food.jpg" alt = "">
                    </div>
                    <div class = "recipe-link">
                      <a href = "#" target = "_blank">Watch Video</a>
                    </div> -->
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/search.js"></script>
</body>
</html>